{
  "env":{
      "browser":true,
      "jest":true
      },
  "parser":"babel-eslint",
  "plugins":[
    "import",
    "react",
    "react-hooks"
  ],
  "rules":{
    "eqeqeq": "off",
    "curly": "error",
    "quotes": ["warn", "double"],
    "newline-before-return":"warn",
    "no-shadow":"warn",
    "no-console":"warn",
    "consistent-return":"warn",
    "no-unused-expressions":"warn",
    "react/prop-types": "off",
        "indent"           : [1, 2],
        "no-else-return"   : 1,
        "semi"             : [1, "always"],
        "space-unary-ops"  : 2
  },
  "extends":[
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
     
  ]
}