$spacing:(
   'sm':0.5rem,
   'md':1rem,
   'lg':1rem,
);
$breakpoints:(
'sm':600px,
'md':960px,
'lg':1280px,
);
$justifyContent:(
   flex-start,flex-end,center,space-between
);
$alignItems:(
   flex-start,flex-end,center
);
@mixin breakpoint($name) {
   @media screen and(min-width:map-get($breakpoints , $name)) {
      @content;
   }
}
.Grid{
   &_container{
      display: flex;
      flex-wrap: wrap;
   }
   &_item{
      display: block;
      width: 100%;
   }
   @for $i from 1 to 12{
      &_cols_#{$i}{
         flex-basis: $i/12*100%;
      }
   }
   @include breakpoint('sm'){
      @for $i from 1 to 12{
         &_sm_#{$i}{
            flex-basis: $i/12*100%;
         }
      }
   }
   @include breakpoint('md'){
      @for $i from 1 to 12{
         &_md_#{$i}{
            flex-basis: $i/12*100%;
         }
      }
   }
   @include breakpoint('lg'){
      @for $i from 1 to 12{
         &_lg_#{$i}{
            flex-basis: $i/12*100%;
         }
      }
   }
   @each $name,$value in $spacing {
      &_spacing_#{$name} > &_item{
         padding: $value;
         box-sizing: border-box;
      }
   } 
   @each $value in $justifyContent{
      &_justifyContent_#{$value}{
         justify-content: $value;
      }
   }
   @each $value in $alignItems{
      &_alignItems_#{$value}{
         align-items: $value;
      }
   }
}