/* color */
.text_black{color:$black;}
.text_black2{color:$black2;}
.text_white{color:$white;}

// .text_gray1{color:$gray-100;}
.text_gray1_5{color:$gray-150;}
.text_gray3{color:$gray-300;}
.text_gray4{color:$gray-400;}
.text_gray5{color:$gray-500;}
.text_gray6{color:$gray-600;}

.text_priamry{color: $primary;}
.text_brand{color:$brand;}
.text_success{color:$success;}

/* Background */ 
.bg_black{background-color:$black;}
.bg_white{background-color:$white;}

// .bg_gray1{background-color:$gray-100;}
.bg_gray1_5{background-color:$gray-150;}
.bg_gray2{background-color:$gray-200;}
.bg_gray3{background-color:$gray-300;}
.bg_gray4{background-color:$gray-400;}
.bg_gray5{background-color:$gray-500;}
.bg_gray6{background-color:$gray-600;}

.bg_priamry{background-color: $primary;}
.bg_brand{background-color:$brand;}
.bg_success{background-color:$success;}
.bg_orange{background-color:$orange;}
.bg_yellow{background-color:$yelloow;}